@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Mudanças</h1>
    <p>Pra trás eu deixo o homem que fui<br>
E as casas que eu construí longe de Ti<br>
Se tudo mudou eu abro as velas da embarcação<br>
Na esperança que pela manhã<br>
Avistarei o porto onde te encontrarei<br>
O porto onde te encontrarei<br><a href="https://www.sonymusic.com.br/artistas/os-arrais/"><br>Saiba mais no site dos Arrais</a>.</p>
</div>
